# edk2
artifact/edk2-riscv/
artifact/backup
!script/0_init_edk/edk2-riscv.patch
!script/0_init_edk/edk2-base-commit.txt
!script/0_init_edk/setup-edk2.sh

# compile artifact
*.o
*.so
*.img
*.tar.gz
riscv64/

# edk2 artifact
artifact/edk2-riscv/Build/
artifact/edk2-riscv/Conf/

# dev artifact
.claude
.vscode
