# edk2
artifact/edk2/
artifact/backup
!script/resources/edk2-riscv.patch
!script/resources/edk2-x64.patch
!script/resources/edk2-base-commit.txt

# compile artifact
*.o
*.so
*.img
*.tar.gz
riscv64/

# dev artifact
.claude
.vscode
